In [35]:
import numpy as np
import pandas as pd

In [36]:
dict1 = {
    "Name" : ["Srijan<god", "Shubham<god", "Aniket", "Abhi"],
    "marks" : [97, 98, 96, 94],
    "Grade" : ["O", "A+", "A", "A"]
    }

In [37]:
df = pd.DataFrame(dict1)
df

          Name  marks Grade
0   Srijan<god     97     O
1  Shubham<god     98    A+
2       Aniket     96     A
3         Abhi     94     A

In [38]:
df.head(2)

          Name  marks Grade
0   Srijan<god     97     O
1  Shubham<god     98    A+

In [39]:
df.tail(2)

     Name  marks Grade
2  Aniket     96     A
3    Abhi     94     A

In [40]:
df.describe()

           marks
count   4.000000
mean   96.250000
std     1.707825
min    94.000000
25%    95.500000
50%    96.500000
75%    97.250000
max    98.000000

In [41]:
newdf = pd.DataFrame(np.random.randn(10,5))

In [42]:
newdf

          0         1         2         3         4
0  0.759462  1.021719  0.752894 -1.092341 -0.753078
1  0.804742  1.397170 -1.351503 -1.190643 -1.193891
2 -0.243279  1.205147  1.082351 -0.543075  0.697838
3  0.592207  0.762178 -1.619016 -0.920663  0.198993
4 -1.261960 -0.350986 -1.599198 -0.356849 -0.588683
5 -0.266196 -0.268285  0.577393 -0.870473  2.027108
6 -0.610872 -0.279693  4.420992 -0.173247  1.351880
7 -0.288044  0.915082 -0.711304  0.629757  0.879743
8 -0.788963 -2.046013  0.871436  1.049264  0.366128
9  0.159797  1.301803  0.699894  0.560153  0.868063

In [43]:
type(newdf)
#type(newdf[3])

pandas.core.frame.DataFrame

In [44]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [45]:
newdf.describe()

               0          1          2          3          4
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean   -0.114311   0.365812   0.312394  -0.290812   0.385410
std     0.688892   1.089482   1.807435   0.791207   0.998805
min    -1.261960  -2.046013  -1.619016  -1.190643  -1.193891
25%    -0.530165  -0.276841  -1.191453  -0.908116  -0.391764
50%    -0.254738   0.838630   0.638643  -0.449962   0.531983
75%     0.484105   1.159290   0.841800   0.376803   0.876823
max     0.804742   1.397170   4.420992   1.049264   2.027108

In [46]:
newdf.index

RangeIndex(start=0, stop=10, step=1)

In [47]:
newdf.to_numpy()

array([[ 0.75946221,  1.0217189 ,  0.75289375, -1.09234121, -0.7530784 ],
       [ 0.80474154,  1.39716998, -1.35150251, -1.19064313, -1.19389082],
       [-0.24327872,  1.20514728,  1.08235131, -0.54307529,  0.69783797],
       [ 0.59220732,  0.76217808, -1.61901632, -0.92066292,  0.19899278],
       [-1.2619596 , -0.35098634, -1.59919777, -0.35684938, -0.58868296],
       [-0.26619631, -0.26828476,  0.57739327, -0.87047344,  2.02710835],
       [-0.61087191, -0.27969306,  4.42099222, -0.173247  ,  1.35188007],
       [-0.28804405,  0.91508237, -0.71130431,  0.62975693,  0.87974281],
       [-0.78896252, -2.04601311,  0.87143583,  1.04926435,  0.3661281 ],
       [ 0.15979659,  1.30180314,  0.69989367,  0.56015286,  0.86806267]])

In [48]:
newdf.T

,0,1,2,3,4,5,6,7,8,9
0,0.759462,0.804742,-0.243279,0.592207,-1.261960,-0.266196,-0.610872,-0.288044,-0.788963,0.159797
1,1.021719,1.397170,1.205147,0.762178,-0.350986,-0.268285,-0.279693,0.915082,-2.046013,1.301803
2,0.752894,-1.351503,1.082351,-1.619016,-1.599198,0.577393,4.420992,-0.711304,0.871436,0.699894
3,-1.092341,-1.190643,-0.543075,-0.920663,-0.356849,-0.870473,-0.173247,0.629757,1.049264,0.560153
4,-0.753078,-1.193891,0.697838,0.198993,-0.588683,2.027108,1.351880,0.879743,0.366128,0.868063

In [49]:
newdf.sort_index(axis=0, ascending=False)

          0         1         2         3         4
9  0.159797  1.301803  0.699894  0.560153  0.868063
8 -0.788963 -2.046013  0.871436  1.049264  0.366128
7 -0.288044  0.915082 -0.711304  0.629757  0.879743
6 -0.610872 -0.279693  4.420992 -0.173247  1.351880
5 -0.266196 -0.268285  0.577393 -0.870473  2.027108
4 -1.261960 -0.350986 -1.599198 -0.356849 -0.588683
3  0.592207  0.762178 -1.619016 -0.920663  0.198993
2 -0.243279  1.205147  1.082351 -0.543075  0.697838
1  0.804742  1.397170 -1.351503 -1.190643 -1.193891
0  0.759462  1.021719  0.752894 -1.092341 -0.753078

In [50]:
newdf.loc[0,0] = 45

In [51]:
newdf

           0         1         2         3         4
0  45.000000  1.021719  0.752894 -1.092341 -0.753078
1   0.804742  1.397170 -1.351503 -1.190643 -1.193891
2  -0.243279  1.205147  1.082351 -0.543075  0.697838
3   0.592207  0.762178 -1.619016 -0.920663  0.198993
4  -1.261960 -0.350986 -1.599198 -0.356849 -0.588683
5  -0.266196 -0.268285  0.577393 -0.870473  2.027108
6  -0.610872 -0.279693  4.420992 -0.173247  1.351880
7  -0.288044  0.915082 -0.711304  0.629757  0.879743
8  -0.788963 -2.046013  0.871436  1.049264  0.366128
9   0.159797  1.301803  0.699894  0.560153  0.868063

In [52]:
newdf.loc[0,"A"] = "Srijan<god"

In [53]:
newdf

           0         1         2         3         4           A
0  45.000000  1.021719  0.752894 -1.092341 -0.753078  Srijan<god
1   0.804742  1.397170 -1.351503 -1.190643 -1.193891         NaN
2  -0.243279  1.205147  1.082351 -0.543075  0.697838         NaN
3   0.592207  0.762178 -1.619016 -0.920663  0.198993         NaN
4  -1.261960 -0.350986 -1.599198 -0.356849 -0.588683         NaN
5  -0.266196 -0.268285  0.577393 -0.870473  2.027108         NaN
6  -0.610872 -0.279693  4.420992 -0.173247  1.351880         NaN
7  -0.288044  0.915082 -0.711304  0.629757  0.879743         NaN
8  -0.788963 -2.046013  0.871436  1.049264  0.366128         NaN
9   0.159797  1.301803  0.699894  0.560153  0.868063         NaN

In [54]:
newdf.drop("A", axis=1)

           0         1         2         3         4
0  45.000000  1.021719  0.752894 -1.092341 -0.753078
1   0.804742  1.397170 -1.351503 -1.190643 -1.193891
2  -0.243279  1.205147  1.082351 -0.543075  0.697838
3   0.592207  0.762178 -1.619016 -0.920663  0.198993
4  -1.261960 -0.350986 -1.599198 -0.356849 -0.588683
5  -0.266196 -0.268285  0.577393 -0.870473  2.027108
6  -0.610872 -0.279693  4.420992 -0.173247  1.351880
7  -0.288044  0.915082 -0.711304  0.629757  0.879743
8  -0.788963 -2.046013  0.871436  1.049264  0.366128
9   0.159797  1.301803  0.699894  0.560153  0.868063

In [55]:
newdf

           0         1         2         3         4           A
0  45.000000  1.021719  0.752894 -1.092341 -0.753078  Srijan<god
1   0.804742  1.397170 -1.351503 -1.190643 -1.193891         NaN
2  -0.243279  1.205147  1.082351 -0.543075  0.697838         NaN
3   0.592207  0.762178 -1.619016 -0.920663  0.198993         NaN
4  -1.261960 -0.350986 -1.599198 -0.356849 -0.588683         NaN
5  -0.266196 -0.268285  0.577393 -0.870473  2.027108         NaN
6  -0.610872 -0.279693  4.420992 -0.173247  1.351880         NaN
7  -0.288044  0.915082 -0.711304  0.629757  0.879743         NaN
8  -0.788963 -2.046013  0.871436  1.049264  0.366128         NaN
9   0.159797  1.301803  0.699894  0.560153  0.868063         NaN

In [56]:
newdf = newdf.drop("A", axis=1)

In [57]:
newdf

           0         1         2         3         4
0  45.000000  1.021719  0.752894 -1.092341 -0.753078
1   0.804742  1.397170 -1.351503 -1.190643 -1.193891
2  -0.243279  1.205147  1.082351 -0.543075  0.697838
3   0.592207  0.762178 -1.619016 -0.920663  0.198993
4  -1.261960 -0.350986 -1.599198 -0.356849 -0.588683
5  -0.266196 -0.268285  0.577393 -0.870473  2.027108
6  -0.610872 -0.279693  4.420992 -0.173247  1.351880
7  -0.288044  0.915082 -0.711304  0.629757  0.879743
8  -0.788963 -2.046013  0.871436  1.049264  0.366128
9   0.159797  1.301803  0.699894  0.560153  0.868063

In [59]:
newdf.loc[:, [3,4]]

          3         4
0 -1.092341 -0.753078
1 -1.190643 -1.193891
2 -0.543075  0.697838
3 -0.920663  0.198993
4 -0.356849 -0.588683
5 -0.870473  2.027108
6 -0.173247  1.351880
7  0.629757  0.879743
8  1.049264  0.366128
9  0.560153  0.868063

In [60]:
newdf.loc[[1,2],:]

          0         1         2         3         4
1  0.804742  1.397170 -1.351503 -1.190643 -1.193891
2 -0.243279  1.205147  1.082351 -0.543075  0.697838

In [61]:
newdf.head(3)

           0         1         2         3         4
0  45.000000  1.021719  0.752894 -1.092341 -0.753078
1   0.804742  1.397170 -1.351503 -1.190643 -1.193891
2  -0.243279  1.205147  1.082351 -0.543075  0.697838

In [62]:
sri = {
    1 : [10,20,30],
    2 : [40,50,60],
    3 : [50,60,70]
}

In [63]:
df = pd.DataFrame(sri)

In [64]:
df

    1   2   3
0  10  40  50
1  20  50  60
2  30  60  70

In [65]:
df.describe()

          1     2     3
count   3.0   3.0   3.0
mean   20.0  50.0  60.0
std    10.0  10.0  10.0
min    10.0  40.0  50.0
25%    15.0  45.0  55.0
50%    20.0  50.0  60.0
75%    25.0  55.0  65.0
max    30.0  60.0  70.0

In [66]:
df.max

<bound method DataFrame.max of     1   2   3
0  10  40  50
1  20  50  60
2  30  60  70>

In [67]:
df.max()

1    30
2    60
3    70
dtype: int64

In [68]:
df.min()

1    10
2    40
3    50
dtype: int64

In [69]:
df.mean()

1    20.0
2    50.0
3    60.0
dtype: float64

In [70]:
df.corr()

     1    2    3
1  1.0  1.0  1.0
2  1.0  1.0  1.0
3  1.0  1.0  1.0

In [71]:
df.count()

1    3
2    3
3    3
dtype: int64

In [72]:
df.median()

1    20.0
2    50.0
3    60.0
dtype: float64

In [73]:
df.std()

1    10.0
2    10.0
3    10.0
dtype: float64