In [1]:
import pandas as pd

In [2]:
people_dict = {
    "weight": pd.Series([68, 83, 112],index=["alice", "bob", "charles"]),
     "birthyear": pd.Series([1984, 1985, 1992], index=["bob", "alice", "charles"], name="year"),
"children": pd.Series([0, 3], index=["charles", "bob"]),
"hobby": pd.Series(["Biking", "Dancing"], index=["alice", "bob"]),
}

In [5]:
df = pd.DataFrame(people_dict)
df

         weight  birthyear  children    hobby
alice        68       1985       NaN   Biking
bob          83       1984       3.0  Dancing
charles     112       1992       0.0      NaN

#Series Making

In [7]:
s = pd.Series(["Srijan<god", "Shubham<god"])

In [8]:
s

0     Srijan<god
1    Shubham<god
dtype: object